html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    background-color: #add8e6; /* Color azul claro */
    text-align: center;
    padding: 20px;
}

.content {
    background-color: pink; /* Color rojo claro */
    padding: 20px;
}

.footer {
    background-color: #90ee90; /* Color verde claro */
    text-align: center;
    padding: 20px;
}
